extends layout

block content
  .container.text-center
    h1.text-white Bonjour #{title}
    h3.text-danger Ceci est mon premier cours avec ExpressJS
    p.mt-1.text-white Etes vous pret a apprendre Express.js ?
    a(class="btn btn-primary mt-1" href="./allbook") Liste des livres
    br
    a(class="btn btn-primary mt-1" href="./addbook") Ajoutez un livre
  